.linex {
    padding-bottom: 60px;

    &__main {
        padding: 12px 1rem 0 1rem;
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        color: #191919;
        padding: 9px 1rem 0 1rem;
    }
}