.message {
  [class*="col-"] {
    padding: 0 0 0 0;
  }

  padding: 0 12px;

  &--padding-2 {
    padding: 0 2px;
    padding-bottom: 32px;
  }

  padding-bottom: 4px;

  &__icon {
    @include set-icon("data:image/svg+xml,%3Csvg width='133' height='114' viewBox='0 0 133 114' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M58.0988 109.591C100.739 115.079 109.621 108.016 118.416 99.9682C135.451 84.3845 135.451 47.916 111.815 41.5373C87.4343 39.8045 103.382 3.16895 55.535 3.16895C25.5548 3.16895 6.72363 21.613 6.72363 44.3658C6.72363 67.1186 15.4596 104.103 58.0988 109.591Z' fill='%23E5E5E5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M125.283 3.16414C124.418 1.86475 123.007 0.954077 121.049 0.431139C118.781 -0.173322 116.561 -0.142503 114.383 0.525586L115.178 4.23984C116.816 3.77854 118.276 3.71889 119.558 4.05989C120.328 4.26668 120.832 4.6395 121.068 5.18133C121.304 5.72316 121.326 6.3485 121.137 7.05635C120.929 7.82883 120.636 8.43329 120.257 8.86974C119.879 9.30618 119.133 9.84801 118.017 10.4962C116.851 11.1414 115.989 11.8075 115.429 12.4925C114.869 13.1775 114.449 14.0425 114.168 15.0883L113.861 16.2326L118.062 17.3531L118.329 16.3569C118.528 15.6162 118.795 15.0605 119.131 14.6887C119.466 14.3168 120.139 13.8396 121.147 13.2571C122.709 12.3663 123.803 11.5411 124.428 10.7796C125.052 10.019 125.53 9.01687 125.865 7.77514C126.343 6.00053 126.148 4.46353 125.283 3.16414ZM115.528 19.8118C114.577 19.5583 113.787 19.602 113.16 19.945C112.533 20.288 112.1 20.9014 111.862 21.7862C111.628 22.6601 111.698 23.4047 112.073 24.0211C112.448 24.6375 113.106 25.072 114.046 25.3225C114.985 25.573 115.773 25.5194 116.411 25.1615C117.048 24.8036 117.481 24.1991 117.71 23.3481C117.942 22.4851 117.877 21.7445 117.515 21.1251C117.152 20.5067 116.491 20.0683 115.528 19.8118Z' fill='%23EC0000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M106.572 105.857L106.843 104.845C107.093 103.92 107.458 103.153 107.939 102.543C108.422 101.934 109.159 101.338 110.155 100.758C111.108 100.175 111.748 99.6901 112.072 99.3024C112.398 98.9137 112.652 98.3778 112.836 97.6938C113.004 97.0675 112.992 96.5167 112.796 96.0405C112.601 95.5653 112.177 95.2412 111.525 95.0662C110.44 94.7769 109.2 94.8435 107.806 95.267L107.169 91.9992C109.022 91.3887 110.908 91.339 112.826 91.851C114.483 92.2934 115.671 93.0838 116.394 94.2212C117.114 95.3585 117.265 96.7126 116.843 98.2824C116.546 99.3809 116.13 100.269 115.593 100.947C115.055 101.624 114.119 102.362 112.786 103.164C111.923 103.687 111.348 104.114 111.061 104.445C110.772 104.776 110.541 105.269 110.364 105.925L110.128 106.806L106.572 105.857ZM104.822 110.775C105.033 109.993 105.406 109.447 105.941 109.139C106.477 108.831 107.148 108.784 107.952 108.999C108.767 109.215 109.325 109.596 109.627 110.138C109.928 110.681 109.976 111.333 109.77 112.097C109.569 112.849 109.194 113.387 108.651 113.708C108.106 114.031 107.436 114.086 106.641 113.873C105.845 113.661 105.292 113.286 104.979 112.745C104.668 112.205 104.615 111.549 104.822 110.775Z' fill='%230D4F80'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.7267 32.2215L31.4423 31.4421C31.1818 30.7292 31.06 30.0701 31.076 29.4636C31.091 28.8562 31.2646 28.1483 31.5959 27.3391C31.9033 26.5467 32.066 25.9542 32.0869 25.5595C32.1079 25.1658 32.0221 24.7045 31.8305 24.1786C31.6538 23.6954 31.4033 23.3405 31.079 23.1138C30.7537 22.8871 30.3615 22.8573 29.8994 23.0243C29.132 23.3027 28.4305 23.8803 27.7938 24.7592L25.9785 22.8951C26.8038 21.6971 27.8946 20.8511 29.2528 20.3599C30.4234 19.9344 31.4732 19.9384 32.4003 20.3719C33.3274 20.8053 34.011 21.6265 34.4521 22.8364C34.7624 23.6825 34.9071 24.443 34.8882 25.1171C34.8692 25.7931 34.6427 26.6799 34.2066 27.7795C33.9291 28.4933 33.7784 29.0212 33.7535 29.3622C33.7295 29.7032 33.8094 30.1258 33.993 30.6298L34.2425 31.3098L31.7267 32.2215ZM32.8201 35.9827C32.5996 35.3802 32.5916 34.8583 32.7932 34.4178C32.9938 33.9764 33.3999 33.6464 34.0097 33.4247C34.6284 33.201 35.1553 33.198 35.5924 33.4147C36.0305 33.6324 36.3568 34.0351 36.5714 34.6226C36.7839 35.2022 36.7889 35.7192 36.5874 36.1726C36.3858 36.6259 35.9846 36.9619 35.3818 37.1807C34.7791 37.3994 34.2562 37.4034 33.8121 37.1916C33.369 36.9808 33.0387 36.5782 32.8201 35.9827Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.98 63.4763H2.89298C0.499984 62.2216 -0.0978585 61.5943 1.09768 61.5943H6.97058L5.62136 58.2867H15.98C17.1227 61.7464 17.1227 63.4763 15.98 63.4763ZM118.258 65.1375H130.299C132.5 63.8828 133.05 63.2555 131.95 63.2555H126.548L127.789 59.9479H118.258C117.209 63.4076 117.209 65.1375 118.258 65.1375Z' fill='%23F6C7B4'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M82.4833 96.8225L87.0779 68.2399L103.585 81.7309L117.769 65.7604L116.588 59.8967L103.585 69.9707L85.063 48.0809L75.8979 45.2057L68.5411 50.8845L60.9018 44.5366L50.2308 47.4804L32.6371 69.9707L17.6829 58.3219C16.5562 60.703 15.9065 62.6416 15.7339 64.1359C15.5613 65.6301 15.8706 65.8449 16.659 64.7801L31.3697 81.7309L48.1541 71.1946L52.9991 100.758' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M61.5097 46.0643L49.5344 48.0527L32.5693 69.9246L50.0703 55.4544L64.5035 48.0527L61.5097 46.0643Z' fill='%236EE3FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M103.424 81.8549L117.466 66.0693L116.285 60.8131L102.133 71.8167L84.7942 47.5915L67.1445 99.0204L82.3482 96.8093L84.7942 71.8167L103.424 81.8549Z' fill='%23E9F4F7'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M59.623 23.3937C61.2526 20.4619 62.9152 19.3564 64.6087 20.0911C66.2114 20.785 68.3041 21.2135 70.8868 21.3746C71.272 21.4849 71.6263 21.5774 71.9097 21.6201C72.5972 21.7335 72.3997 23.8431 72.8667 24.4048C72.9316 24.54 72.9924 24.6852 73.0613 24.8164C74.1141 26.9957 73.3098 30.4693 72.5533 32.8365C72.1043 34.4719 70.5884 35.7494 69.5336 37.2108C68.4079 38.9069 66.5597 38.8174 64.5778 39.1913C65.2045 39.8027 65.903 40.605 65.903 41.0762H68.9987C69.6653 40.8694 72.3637 37.875 72.3637 37.875C72.3637 37.875 72.723 37.2695 73.182 36.2952V45.6037L67.9578 50.2455L63.7186 47.8008C63.7764 47.7571 63.8383 47.7203 63.8862 47.6607C64.1946 47.2739 64.1317 46.7122 63.7435 46.403L61.4592 44.5887V37.3649C61.4592 37.2397 61.4323 37.1154 61.3814 37.0011L59.0063 31.6832C58.9534 31.5649 58.8755 31.4595 58.7767 31.374C58.143 30.8213 57.7968 30.351 57.7099 30.006C57.3607 28.5983 57.8177 27.1895 58.2348 27.1895C58.2917 27.1895 58.3456 27.1935 58.3955 27.2024C58.9204 27.2879 59.4054 26.9032 59.4384 26.3743L59.623 23.3937ZM75.0504 24.0026L75.6851 25.122C75.8288 26.488 75.9915 28.8104 76.0054 29.8285L74.9985 30.6626C75.1033 30.0064 75.1692 29.3423 75.1692 28.6802C75.1692 27.0398 75.1751 25.4581 75.0504 24.0026Z' fill='%23FEDAC6'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M73.6004 21.4468L74.3688 22.8018L73.2491 21.5074L73.2483 21.5071L74.368 22.8015L75.0496 24.0025C75.1743 25.458 75.1684 27.0397 75.1684 28.6801C75.1684 29.3423 75.1025 30.0074 74.9977 30.6625L74.4907 31.0831C74.1634 31.1189 73.855 31.3256 73.7403 31.7283L73.2154 33.5645C73.1934 33.6441 73.1814 33.7266 73.1814 33.8091V36.2955C72.7224 37.2698 72.3631 37.8753 72.3631 37.8753C72.3631 37.8753 69.6647 40.8688 68.998 41.0756H65.9024C65.9024 40.6053 65.2039 39.803 64.5771 39.1906C66.5591 38.8168 68.4073 38.9073 69.5329 37.2112C70.5878 35.7497 72.1036 34.4712 72.5527 32.8368C73.3092 30.4697 74.1135 26.996 73.0607 24.8167C72.9908 24.6855 72.9309 24.5404 72.8661 24.4052C72.399 23.8434 72.5966 21.7338 71.909 21.6205C71.6256 21.5777 71.2714 21.4852 70.8862 21.3739C71.6127 21.4196 72.3841 21.4395 73.1874 21.4425L73.6004 21.4468Z' fill='%23F6C7B4'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M73.7405 31.7281L73.2166 33.5653C73.1936 33.6448 73.1816 33.7273 73.1816 33.8099V36.2953C73.8203 34.9412 74.6496 32.8684 74.9989 30.6623L74.4919 31.0828C74.1646 31.1186 73.8553 31.3254 73.7405 31.7281Z' fill='%23F6C7B4'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M73.4448 18.9251C74.0086 19.3944 74.5475 19.9253 75.0505 20.3289C73.8869 17.9339 72.1555 16.1802 69.8292 14.8122C70.7044 15.694 71.5826 16.5769 72.4628 17.4617C71.6495 16.9676 70.8412 16.4705 70.0318 15.9774C70.3552 16.382 70.6775 16.7866 71.0008 17.1913C71.1266 17.3493 71.2523 17.5064 71.3771 17.6635C71.3811 17.6685 71.385 17.6734 71.388 17.6784C71.383 17.6725 71.3761 17.6685 71.3701 17.6635C71.2443 17.5581 71.1076 17.4637 70.9769 17.3633C69.9949 16.6117 68.8932 16.0062 67.7146 15.5946C67.538 15.531 67.3593 15.4733 67.1787 15.4206C68.1806 16.1076 69.1297 16.8652 70.0398 17.6635C70.1426 17.755 70.2534 17.8405 70.3552 17.9339C71.4579 18.9291 72.4888 19.9988 73.4258 21.1411C73.0466 20.0694 72.6644 19.0643 72.1335 18.0552C72.353 18.1526 72.5716 18.2829 72.7881 18.428C73.0097 18.5781 73.2292 18.7452 73.4448 18.9251Z' fill='%230F2B4A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M82.3477 96.8102L67.145 99.0203L53.6508 100.982L52.9922 108.731C54.6438 109.063 56.3323 109.364 58.0977 109.59C68.7318 110.959 78.5026 111.547 85.4603 111.534L82.3637 96.8082L82.3477 96.8102Z' fill='%230D4F80'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M102.538 69.0472L85.2589 47.4486L74.9791 44.643V33.9347L75.3244 32.7198L77.482 30.9343C77.6875 30.7633 77.8063 30.5098 77.8053 30.2433C77.8013 28.9897 77.7464 27.9647 77.6327 27.1186C78.0039 25.6134 78.1995 23.7374 78.1995 21.4478C78.1995 17.2464 76.7814 12.8362 71.634 12.8362C66.4866 12.8362 65.4607 11.5766 60.499 13.9268C57.1918 15.4927 55.7727 17.5476 56.2417 20.0908L56.2637 26.7667C55.7657 27.7569 55.644 29.1398 55.9673 30.4372C56.1459 31.157 56.6459 31.8618 57.4433 32.5866L59.6627 37.5555V44.9323L49.6094 47.4367L46.6405 50.9292C46.3212 51.307 46.3681 51.8717 46.7463 52.1908C47.1255 52.51 47.6914 52.4632 48.0117 52.0855L50.6064 49.0323L59.6627 46.7765L60.9341 46.4604L61.459 46.8779L62.6236 47.8025C62.9519 48.064 63.399 48.0441 63.7193 47.8015C63.7762 47.7568 63.8381 47.72 63.886 47.6614C64.1944 47.2746 64.1315 46.7119 63.7433 46.4037L61.459 44.5883V37.3646C61.459 37.2394 61.4331 37.1161 61.3812 37.0018L59.0061 31.6839C58.9532 31.5656 58.8753 31.4592 58.7765 31.3737C58.1428 30.8209 57.7965 30.3517 57.7097 30.0057C57.3604 28.5989 57.8185 27.1902 58.2356 27.1902C58.2915 27.1902 58.3454 27.1942 58.3963 27.2021C58.9202 27.2886 59.4052 26.9039 59.4382 26.375L59.6228 23.3944C61.2534 20.4626 62.915 19.3571 64.6085 20.0908C66.2112 20.7857 68.3039 21.2132 70.8876 21.3742C71.6131 21.42 72.3845 21.4399 73.1878 21.4428C73.3275 21.4438 73.4593 21.4488 73.601 21.4478L74.3684 22.8019L75.05 24.0029L75.6847 25.1223C75.8284 26.4883 75.992 28.8107 76.006 29.8287L74.9981 30.6629C74.6498 32.868 73.8215 34.9418 73.1818 36.2959V45.6044L67.9586 50.2462L67.767 50.4162C67.3399 50.4421 67.0076 50.7612 66.9457 51.1738C66.9387 51.2165 66.9217 51.2553 66.9217 51.3V53.2715V56.2401C66.9217 56.7342 67.3229 57.1349 67.8189 57.1349C68.3149 57.1349 68.717 56.7342 68.717 56.2401V54.3949V52.2813V51.9184C68.7729 51.8876 68.8328 51.8667 68.8817 51.823L73.1818 48.0024L74.8993 46.4763L74.9791 46.4982L84.2201 49.0204L102.166 71.4521L116.965 61.549V64.7404C112.549 70.1308 109.072 74.2119 106.539 76.9807C104.15 79.5904 102.537 81.0628 102.18 81.1324C101.88 81.1911 100.231 80.3868 97.7432 78.7712C95.0148 76.9996 91.2286 74.2686 86.3906 70.5822L85.1432 69.6327L81.7113 97.6268C81.6813 97.8793 81.7622 98.118 81.9118 98.2999L84.3997 111.532C84.9915 111.53 85.5613 111.52 86.1321 111.51L83.5435 97.7481L83.5066 97.7501L86.5473 72.9513C95.922 80.0468 100.882 83.2082 102.524 82.8881C104.161 82.57 109.159 77.1099 118.559 65.6252L118.762 65.3786V58.1907L102.538 69.0472Z' fill='%230F2B4A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M73.4448 18.9251C74.0086 19.3944 74.5475 19.9253 75.0505 20.3289C73.8869 17.9339 72.1555 16.1802 69.8292 14.8122C70.7044 15.694 71.5826 16.5769 72.4628 17.4617C71.6495 16.9676 70.8412 16.4705 70.0318 15.9774C70.3552 16.382 70.6775 16.7866 71.0008 17.1913C71.1266 17.3493 71.2523 17.5064 71.3771 17.6635C71.3811 17.6685 71.385 17.6734 71.388 17.6784C71.383 17.6725 71.3761 17.6685 71.3701 17.6635C71.2443 17.5581 71.1076 17.4637 70.9769 17.3633C69.9949 16.6117 68.8932 16.0062 67.7146 15.5946C67.538 15.531 67.3593 15.4733 67.1787 15.4206C68.1806 16.1076 69.1297 16.8652 70.0398 17.6635C70.1426 17.755 70.2534 17.8405 70.3552 17.9339C71.4579 18.9291 72.4888 19.9988 73.4258 21.1411C73.0466 20.0694 72.6644 19.0643 72.1335 18.0552C72.353 18.1526 72.5716 18.2829 72.7881 18.428C73.0097 18.5781 73.2292 18.7452 73.4448 18.9251Z' fill='%230D4F80'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M52.2699 94.6822C51.8049 94.7637 51.4955 95.2042 51.5774 95.6665L52.235 99.4006L51.5664 108.431C52.1222 108.554 52.6821 108.673 53.2499 108.786L53.9525 99.3151L53.2569 95.3722C53.1761 94.9099 52.738 94.6027 52.2699 94.6822ZM50.9914 81.8495L48.751 69.639L47.5714 70.6014C38.6907 77.8539 33.1132 81.425 31.5724 81.1317C29.9727 80.8265 24.7135 75.2631 16.4236 64.8719L18.0163 59.7241L31.4985 71.523L38.059 63.8002C38.3794 63.4234 38.3324 62.8587 37.9542 62.5396C37.576 62.2205 37.0082 62.2672 36.6878 62.645L31.3089 68.9759L17.1162 56.5546L14.4287 65.2467L14.7221 65.6156C23.6607 76.8448 28.9468 82.453 31.2351 82.8895C33.5024 83.3209 38.7187 80.06 47.5305 72.9437L49.224 82.1717C49.3128 82.6578 49.7809 82.9799 50.2689 82.8904C50.7578 82.802 51.0802 82.3357 50.9914 81.8495ZM51.963 87.503L51.6127 85.1568C51.5408 84.6686 51.0738 84.3296 50.5928 84.4032C50.1018 84.4758 49.7635 84.9311 49.8353 85.4202L50.1856 87.7665C50.2515 88.2099 50.6357 88.529 51.0728 88.529C51.1167 88.529 51.1616 88.5261 51.2055 88.5191C51.6965 88.4475 52.0348 87.9922 51.963 87.503Z' fill='%230F2B4A'/%3E%3C/svg%3E%0A",
      132px,
      114px);
    margin-bottom: 15px;
    margin-top: 29px;
  }

  &__question {
    font-size: 20px;
    font-weight: 700;
  }

  &__paragraph {
    line-height: 24px;
    padding-top: 1rem;

    span {
      display: block;
      margin-bottom: 2rem;

      b,
      strong {
        font-weight: bold;
      }


    &.info {
      top: 8px;
      position: relative;
    }

    }



    i {
      margin-bottom: 1rem;
    }
  }

  &__paragraphBottomSheet {
    span {
      display: block;
      margin-top: 8px;
    }

    span.secondParagraph {
      margin-top: 16px;
    }
  }

  &__percentages {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    &__item {
      display: inline-flex;
      flex-direction: column;
      color: $gray;
      font-weight: 400;
      font-size: 14px;
      min-height: 55px;
      max-width: 100px;

      &:nth-of-type(2) {
        margin: 0 1rem;
      }

      span {
        display: block;
        color: $red;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 1rem;
      }
    }
  }

  &__monto {
    font-family: $micro-font;
    font-size: 28px;
    font-weight: 400;
    bottom: 8px;
    line-height: 38px;
    // letter-spacing: 0.800000011920929px;
  }

  &__labelMonto {
    // font-family: 'SantanderText-Regular', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    display: flex;
    padding: 0px 54px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;

  }

  &__msiOption {
    font-family: $title-font;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    line-height: 25px;
    // letter-spacing: 0px;
    padding-left: 2px;
  }

  &__msiDescription {
    // font-family: 'SantanderText-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    color: #595959;
  }

  &__paragraphInfo {
    font-family: $micro-font;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    align-content: center;
    display: grid;
    padding: 36px 0 0 0;
  }

  &__checkbox {
    // padding: 0 10px 0 0;
    position: initial;
    width: 22px;
    padding: 1px;
    margin-right: 8px;
  }

  &__paddingUl {
    position: relative;
    top: 24px;
  }

  &__paddingLi {
    display: flex;
    position: relative;
    padding: 0px 0px 16px 0px;
  }

  &__waningContent {
    // letter-spacing: 0px;
    line-height: 24px;
    padding: 8px 44px;
  }

  &__headline {
    font-family: $title-font;
    line-height: 25px;
    // letter-spacing: 0px;
  }

  &__text {
    // font-family: 'SantanderText-Regular', sans-serif;
    // letter-spacing: 0px;
    line-height: 24px;
  }

  &__micro {
    font-family: $micro-font;
  }

  &__boldFont{
    font-weight: 700;
  }
}

.topInfo {
  margin-top: 72px;
  margin-bottom: 8px;
}

.prefoliosInfo {
  margin-top: 72px;
  margin-bottom: 16px;
}

.marginLogo {
  // margin-top: 62px;
  margin-bottom: 22px;
}

.mainButton {
  // font-family: 'SantanderText-Regular', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  // letter-spacing: 0px;
  width: auto;
  max-width: 245px;
  min-width: 101px;
  height: 48px;
  background: #EC0000;
  border-radius: 60px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  border: none;
  justify-content: center;
  margin: auto;
  padding: 12px 24px;

  a {
    color: #FFFFFF;
    text-decoration: none;
  }
}

.paddingTop {
  padding-top: 49px;
}
