[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
  display: flex;
  justify-content: center;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 34px;
  cursor: pointer;
  display: inline-block;
  color: #191919;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  background-color: white;
  border: 1px solid #d6d6d6;
  border-radius: 100px;
  -webkit-box-shadow: 0px 5px 9px -4px rgba(179, 179, 179, 1);
  -moz-box-shadow: 0px 5px 9px -4px rgba(179, 179, 179, 1);
  box-shadow: 0px 5px 9px -4px rgba(179, 179, 179, 1);
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 1px solid red;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14px' height='12px' viewBox='0 0 14 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3e%3ctitle%3epaloma_roja%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3cfilter x='-33.3%25' y='-50.0%25' width='166.7%25' height='233.3%25' filterUnits='objectBoundingBox' id='filter-1'%3e%3cfeOffset dx='0' dy='2' in='SourceAlpha' result='shadowOffsetOuter1'%3e%3c/feOffset%3e%3cfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0' type='matrix' in='shadowOffsetOuter1' result='shadowMatrixOuter1'%3e%3c/feColorMatrix%3e%3cfeMerge%3e%3cfeMergeNode in='shadowMatrixOuter1'%3e%3c/feMergeNode%3e%3cfeMergeNode in='SourceGraphic'%3e%3c/feMergeNode%3e%3c/feMerge%3e%3c/filter%3e%3c/defs%3e%3cg id='paloma_roja' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3e%3cg id='Group-4' filter='url(%23filter-1)' transform='translate(3.000000, 2.000000)' stroke='%23EC0000' stroke-width='2.16'%3e%3cpolyline id='Path-1557' points='0 2.96228574 3.02503792 6 9 0'%3e%3c/polyline%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

textarea.form-control {
  font-size: 1em;
}

.form-container {
  padding-right: 1rem;
}

.form-title {
  // font-family: 'SantanderText-Regular', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #191919;
  margin: 1rem 0 32px 0;
}

.form {
  padding-top: 0 !important;

  .control {
    margin-bottom: 1rem;
    padding-left: 44px;
    position: relative;

    &__message {
      color: #878787;
      font-weight: 400;
      font-size: 13px;
      line-height: 17.7px;
      display: flex;
      justify-content: flex-end;
      width: 95%;
      position: absolute;
      top: -1rem;
      right: 0;
    }

    textarea {
      outline: none;
      width: 100%;
    }
  }
}