$nav-button-color: #00838F;
$img-url: '/assets/img/';
$icon-font-path: '../../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$main-font: 'Santander Text';
$title-font: 'Santander Headline', 'Santander Text';
$micro-font: 'Santander Micro', 'Santander Text';

$general-max-width: 960px;
$highlilght-circle-height: 40px;
$icon-height: 32px;
$question-measure: $icon-height - 3px; // 29px
$active-button-color:#f00700;
$disabled-button-color:#cccccc;
